
<app-navbar></app-navbar>
<div class="row " style="padding-top: 3%; padding-bottom:3%;background-image: url(../../assets/files/bg3.jpg);
background-attachment: fixed;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
width:101%;
  height: 150%;">
  <div class="col-sm-3"></div>  <div class="col-md-6 my-xl-5">
        <div class="card">
            <div class="card-body shadow-lg ">
                <form>

                    <div class="container">

                        <div>
                            <h4 *ngIf="form.error" class="text-center text-danger">{{form.message}} </h4>
                            <h4 *ngIf="!form.error" class="text-center text-success">{{form.message}} </h4>
                        </div>

                        <h2 *ngIf="!form.data.id>0" class="text-center text-primary font-weight-bold">{{'Add TimeTable' | translate}}
                        </h2>
                        <h2 *ngIf="form.data.id>0" class="text-center text-primary font-weight-bold">{{'Update TimeTable' | translate}}
                        </h2>



                        <div class="form-group">
                        <label class="lable"><strong>{{'Course Name' | translate}}:
                                <font color="red">*</font>

                            </strong></label>

                        <select class="form-control" name="courseId" [(ngModel)]="form.data.courseId"
                            aria-label="ngSelected">

                            <option *ngFor="let obj of form.preload.coList" [value]="obj.key">{{obj.value}}</option>
                        </select>
                        <div class="text-danger">{{form.inputerror.courseId}}</div>
                    </div>


                    <div class="form-group">
                        <label class="lable"><strong>{{'Subject Name' | translate}}:
                                <font color="red">*</font>

                            </strong></label>

                        <select class="form-control" name="subjectId" [(ngModel)]="form.data.subjectId"
                            aria-label="ngSelected">

                            <option *ngFor="let obj of form.preload.subList" [value]="obj.key">{{obj.value}}</option>
                        </select>
                        <div class="text-danger">{{form.inputerror.subjectId}}</div>
                    </div>

                    <div class="form-group">
                        
                        <label class="lable"><strong>{{'Description' | translate}}:
                                <font color="red">*</font>
                            </strong></label>


                        <input type="text" class="form-control" [(ngModel)]="form.data.description"
                            placeholder="{{'Enter Description' | translate}}" name="description">
                        <div class="text-danger">{{form.inputerror.description}} </div>
                    </div>

                    
                    <div class="form-group">
                        <label class="lable"><strong>{{'Exam Date' | translate}}:
                                <font color="red">*</font>
                            </strong></label>
                        <!-- <input id="txtDate" type="text"  class="form-control date-input" placeholder="dd/mm/yyyy" name="dob" [(ngModel)]="form.data.dob" readonly="readonly" > -->

                        <input type="date" class="form-control" placeholder="dd/mm/yyyy" name="examDate"
                            [(ngModel)]="form.data.examDate">
                        <div class="text-danger">{{form.inputerror.examDate}}</div>
                    </div>

                  
                    <div class="form-group">
                        <label class="lable"><strong>{{'Semester' | translate}}:
                                <font color="red">*</font>
                            </strong></label>
                        <select class="form-control" name="semester" [(ngModel)]="form.data.semester">
                            <option value="" [disabled]="true">Select</option>
                            <option value="1st">{{'1st' | translate}} </option>
                            <option value="2nd">{{'2nd' | translate}} </option>
                            <option value="male">{{'3rd' | translate}} </option>
                            <option value="4th">{{'4th' | translate}} </option>
                            <option value="5th">{{'5th' | translate}} </option>
                            <option value="6th">{{'6th' | translate}} </option>
                            <option value="7th">{{'7th' | translate}} </option>
                            <option value="8th">{{'8th' | translate}} </option>
                        </select>
                        <div class="text-danger">{{form.inputerror.semester}}</div>
                    </div>

                    <div class="form-group">
                        <label class="lable"><strong>{{'Exam Time' | translate}}:
                                <font color="red">*</font>
                            </strong></label>
                        <select class="form-control" name="examTime" [(ngModel)]="form.data.examTime">
                            <option value="" [disabled]="true">Select</option>
                            <option value="8 AM - 11 AM">8 AM-11 AM </option>
                            <option value="12 PM - 3 PM">12 PM- 3 PM </option>
                            <option value="4 PM - 7 PM">4 PM- 7 PM </option>
                        </select>
                        <div class="text-danger">{{form.inputerror.gender}}</div>
                    </div>

                    

                   
                    <!-- <div style="padding-top:3%">
            <span class="pt-2"><b>Role</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
    
    
                <select class="form-control" name="roleId" [(ngModel)]="form.data.roleId" aria-label="ngSelected">
    
                  <option *ngFor="let obj of form.preload.rList" [value]="obj.key">{{obj.value}}</option>
                </select>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.roleId}} </span>
          </div> -->




                    <div *ngIf="!form.data.id>0">
                        <!-- <button  type="submit" class="btn btn-primary" (click)="save()">Update</button> -->
                        <button type="submit" class="btn btn-primary" (click)="submit()">{{'Submit' | translate}}</button>
                        &nbsp;
                        <button type="submit" class="btn btn-warning" (click)="reset()">{{'Reset' | translate}}</button>
                        &nbsp;

                        <!-- <button *ngIf="form.id > 0" type="submit"  (click)="navigate('/getalluser')" class="btn btn-info" >RoleList </button> -->
                    </div>

                    <div *ngIf="form.data.id>0">
                        <!-- <button  type="submit" class="btn btn-primary" (click)="save()">Update</button> -->
                        <button type="submit" class="btn btn-primary" (click)="submit()">{{'Update' | translate}}</button>
                        &nbsp;
                        <button type="submit" class="btn btn-warning"
                            (click)="navigate('/timetable-list')">{{'TimeTable List'  | translate}}</button>
                        &nbsp;

                        <!-- <button *ngIf="form.id > 0" type="submit"  (click)="navigate('/getalluser')" class="btn btn-info" >RoleList </button> -->
                    </div>



            </div>
            </form>

        </div>
    </div>
</div>
</div>