<app-navbar></app-navbar>
<div class=" row content-wrapper" style="padding-top: 3%; padding-bottom: 5%; background-image: url(../../assets/files/bg3.jpg); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;width:auto;
    height: auto;" >
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg">
        <form>
          <h2  class="text-primary font-weight-bold">{{'Change Password' | translate }}</h2>
    
          <div>
            <h4 *ngIf="form.error" class="text-center text-danger">{{form.message}} </h4>
            <h4  *ngIf="!form.error" class="text-center text-success">{{form.message}} </h4>
        </div>
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Old Password' | translate}}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-key grey-text"></i> </div>
                </div>
                <input type="password" name="oldPassword" [(ngModel)]="form.data.oldPassword" class="form-control"
                  placeholder="{{'Enter Old Password' | translate}}">
              </div>
            </div>
          </div>
        <span class="text-danger">{{form.inputerror.oldPassword}}</span>
        
        <div style="padding-top:3%">
            <span><b>{{'New Password' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-unlock-alt grey-text "></i> </div>
                </div>
                <input type="password" name="newPassword" [(ngModel)]="form.data.newPassword" class="form-control"
                placeholder="{{'Enter New Password' | translate}}">
              </div>
            </div>
            <span class="text-danger">{{form.inputerror.newPassword}}</span>
          </div>
          <div style="padding-top:3%">
            <span><b>{{'Confirm Password' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-unlock grey-text "></i> </div>
                </div>
                <input type="password" name="confirmPassword" [(ngModel)]="form.data.confirmPassword" class="form-control"
                placeholder="{{ 'Enter Confirm Password' | translate}}">
              </div>
            </div>
            <span class="text-danger">{{form.inputerror.confirmPassword}}</span>
          </div>
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button   (click)="changePassword()" class="btn btn-success mr-2">
               {{'Update' | translate}} </button>
            </div>
            <input type="hidden" name="loginId" [(ngModel)]="form.data.confirmPassword">
            
          </div>
        </form>
      </div>

    </div>

  </div>
</div>