<app-navbar></app-navbar>
<div class="row " style="padding-top: 5%; padding-bottom:15%;background-image: url(../../assets/files/gettyimages-1132439283-640x640.jpg);
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>

  <div  class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg">
        <form >
           
          <h1 class="text-primary font-weight-bold">{{'Forgot Password' |translate }}</h1>
          <div>
            <h4 *ngIf="form.error" class="text-center text-danger">{{form.message}} </h4>
            <h4  *ngIf="!form.error" class="text-center text-success">{{form.message}} </h4>
        </div>
          <!-- <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="!form.error"
            class="alert alert-success alert-dismissible">
            <button  type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div> -->
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{'Email Id' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="login" [(ngModel)]="form.data.login" class="form-control"
                  placeholder="{{'Enter Email Id' | translate}}">
              </div>
            </div>  
          </div>

          <span class="text-danger">{{inputerror.login}}</span>

          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button   (click)="submit()"  class="btn btn-success mr-2">
                {{'Send My Password' | translate }}</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>